.customers {
    background-image: url(../images/img/customers-section/customers-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 769px;
    background-position: center;
    padding: 60px 0;

    @media screen and (min-width: 768px) {
        background-image: url(../images/img/customers-section/customers-tablet.png);
        height: 544px;
        padding: 60px 0 120px;
        background-size: 100% 544px;
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/img/customers-section/customers-desktop.png);
        height: 647px;
        padding: 100px 0 200px;
        background-size: 100% 647px;
    }
}

.customers-title {
    font-size: 28px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.17;
    width: 280px;

    @media screen and (min-width: 768px) {
        font-size: 42px;
        width: 501px;
    }
}

.customers-description {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.14;
    width: 280px;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.19;
        width: 395px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.18;
        width: 395px;
    }
}


.customers-list {
    margin-top: 32px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 1280px) {
        justify-content: start;
        display: flex;
    }
}

.customers-item {
    background-color: $bg-color1;
    width: 100%;
    max-width: 440px;
    border-radius: 0 30px 30px 30px;
    padding: 8px;

    @media screen and (min-width: 768px) {
        max-width: 336px;
        padding: 12px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
        max-width: 501px;
    }
}

.customers-item:nth-child(1) {
    height: 247px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 32px;
        height: 244px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
        margin-right: 139px;
    }

}

.customers-item:nth-child(2) {
    height: 228px;

    @media screen and (min-width: 768px) {
        height: 244px;
    }
}

.stars-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 101px;
}

.stars-star {
    width: 17px;
    height: 16px;
}

.customers-comment {
    margin-top: 28px;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.18;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        height: 84px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        height: 63px;
    }
}

.customers-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 0.854167px solid #7EB101;
    width: 160px;
    height: 52px;
}

.customers-img {
    width: 48px;
    height: 48px;
}

.customers-name {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 16px;
}

.customers-nickname {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 16px;
}