@mixin section-title-text($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

@mixin button($background-color, $border-width) {
    background: $background-color;
    border: $border-width solid $policy-text-color;
}

@mixin grids-list($gap) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
}