$main-text-color: #2C2C2C;
$iput-placeholder-color: #505050;
$policy-text-color: #7EB101;
$policy-hover-color: #597D00;
$button-hover-color: #B5FF00;
$button-text-color: #BBF330;
$bg-color1: #FEFEFE;
$bg-color2: #FFE550;
$error-text-color: #FF705D;
$other-error-color: #FE6060;
$modal-input-placeholder: #C4C4C4;
