<section class="customers">
    <div class="container">
        <h2 class="customers-title">What our Customers Say</h2>
        <p class="customers-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers-list">
            <li class="customers-item">
                <ul class="stars-list">
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-comment">“The Best app I have used to order <br> food in a while, so many options
                    to <br> choose from too, I would <br> recommend to a freind, No <br> questions asked”</p>
                <div class="customers-user">
                    <img class="customers-img" src="./images/img/customers-section/man.png" alt="men">
                    <ul class="customers-info">
                        <li class="info-item">
                            <p class="customers-name">Sumith Shah</p>
                        </li>
                        <li class="info-item">
                            <p class="customers-nickname">Some Dude</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="customers-item">
                <ul class="stars-list">
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li class="stars-item">
                        <svg class="stars-star">
                            <use href="./images/symbol-defs.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-comment">“The ease with which I can just go in and order what i want was amazing,
                    It has been a very pleasant experience ordering from this app”</p>
                <div class="customers-user">
                    <img class="customers-img" src="./images/img/customers-section/woman.png" alt="woman">
                    <ul class="customers-info">
                        <li class="info-item">
                            <p class="customers-name">Sumith Shah</p>
                        </li>
                        <li class="info-item">
                            <p class="customers-nickname">Some Dude</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>