<section class="favorites">
    <div class="container">
    <h1 class="favorites__title">
        Some of Our Favorites
    </h1>
    <p class="favorites__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <ul class="favorites__list">
        <li class="favorites__item">
            <img class="favorites__photo" src="./images/img/favorites-section/gamburger.png" alt="nothing">
        </li>
        <li class="favorites__item">
            <img  class="favorites__photo"src="./images/img/favorites-section/Pasta.png" alt="nothing">
        </li>
        <li class="favorites__item">
            <img class="favorites__photo" src="./images/img/favorites-section/pizza.png" alt="nothing">
        </li>
        <li class="favorites__item">
            <img class="favorites__photo" src="./images/img/favorites-section/chicken.png" alt="nothing">
        </li>
        <li class="favorites__item">
            <img class="favorites__photo" src="./images/img/favorites-section/salat.png" alt="nothing">
        </li>
        <li class="favorites__item">
            <img class="favorites__photo" src="./images/img/favorites-section/borshch.png" alt="nothing">
        </li>
    </ul>
    </div>
</section>