<section class="favorites">
    <div class="container">
    <h1 class="favorites__title">
        Some of Our Favorites
    </h1>
    <p class="favorites__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <ul class="favorites__list">
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/gamburger-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/gamburger-tablet.png" media="(min-width: 768px)" />
                <source srcset="./images/img/favorites-section/gamburger-mobile.png" media="(max-width: 767px)" />
                <img class="favorites__photo" src="./images/img/favorites-section/gamburger-desktop.png" alt="nothing">
            </picture>
        </li>
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/pasta-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/pasta-tablet.png" media="(min-width: 768px)" />
                <source srcset="./images/img/favorites-section/pasta-mobile.png" media="(max-width: 767px)" />
                <img  class="favorites__photo" src="./images/img/favorites-section/pasta-desktop.png" alt="nothing">
            </picture>
        </li>
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/pizza-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/pizza-tablet.png" media="(min-width: 768px)" />
                <source srcset="./images/img/favorites-section/pizza-mobile.png" media="(max-width: 767px)" />
                <img class="favorites__photo" src="./images/img/favorites-section/pizza-desktop.png" alt="nothing">
            </picture>
        </li>
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/chicken-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/chicken-tablet.png" media="(min-width: 768px)" />
                <img class="favorites__photo" src="./images/img/favorites-section/chicken-desktop.png" alt="nothing">
            </picture>
        </li>
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/salat-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/salat-tablet.png" media="(min-width: 768px)" />
                <img class="favorites__photo" src="./images/img/favorites-section/salat-desktop.png" alt="nothing">
            </picture>
        </li>
        <li class="favorites__item">
            <picture>
                <source srcset="./images/img/favorites-section/borshch-desktop.png" media="(min-width: 1280px)" />
                <source srcset="./images/img/favorites-section/borshch-tablet.png" media="(min-width: 768px)" />
                <img class="favorites__photo" src="./images/img/favorites-section/borshch-desktop.png" alt="nothing">
            </picture>
            
        </li>
    </ul>
    </div>
</section>