<footer class="footer">
    <div class="container">
        <div class="container1">
            <svg class="footer__logo" width="66px" height="52px">
                <use href="../images/symbol-defs.svg#icon-logo"></use>
            </svg>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Home</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">About</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Service</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Menu</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="policy">
            <ul class="policy__list">
                <li class="policy__item">
                    <a class="policy__link" href="#">Privacy Policy</a>
                </li>
                <li class="policy__item">
                    <a class="policy__link" href="#">Terms of Service</a>
                </li>
                <li class="policy__item">
                    <a class="policy__link" href="#">Cookies Settings</a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <p class="subscribe__title">Subscribe</p>
            <input class="subscribe__input" type="email" name="" id="" placeholder="Enter your email">
            <button class="subscribe__button" type="submit">Subscribe</button>
            <p class="subscribe__text">By subscribing you agree to with our <a class="subscribe__link" href="#">Privacy Policy</a></p>
        </div>
        <div class="rights">
            <p class="rights__text">2022 FoodSta. All right reserved.</p>
        </div>
    </div>
</footer>