<header class="header">
    <svg class="header__svg" width="66px" height="52px">
        <use href="#"></use>
    </svg>
    <nav class="header__nav">
    <ul class="header__list">
        <li class="header__item">
           <a href="#" class="item__link">Home</a>
        </li>
        <li class="header__item">
            <a href="#" class="item__link">About</a>
        </li>
        <li class="header__item">
            <a href="#" class="item__link">Service</a>
        </li>
        <li class="header__item">
            <a href="#" class="item__link">Menu</a>
        </li>
        <li class="header__item">
            <a href="#" class="item__link">Contact</a>
        </li>
    </ul>
    </nav>
    <button class="header__button">Order Now</button>
    <button type="button" class="header__button">
        <svg class="header__open">
            <use href="#"></use>
        </svg>
    </button>
</header>