<div class="overlay-header-mobile-menu is-hidden-header-mobile-menu" data-backdrop-header-mobile-menu>
    <div class="menu">
        <button class="menu_close" type="button" data-close-header-mobile-menu>
            <svg class="menu_icon" width="15" height="15">
                <use href="./images/symbol-defs.svg#close-button"></use>
            </svg>
        </button>
        <div class="menu-div">
            <ul class="sheets-menu">
                <li class="sheets-menu__item">
                    <a href="#home" class="sheets-menu__link">Home</a>
                </li>
                <li class="sheets-menu__item">
                    <a href="#about" class="sheets-menu__link">About</a>
                </li>
                <li class="sheets-menu__item">
                    <a href="#service" class="sheets-menu__link">Service</a>
                </li>
                <li class="sheets-menu__item">
                    <a href="#menu" class="sheets-menu__link">Menu</a>
                </li>
                <li class="sheets-menu__item">
                    <a href="#contact" class="sheets-menu__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>