<header class="header" id="home">
    <div class="container">
        <svg width="66" height="52" class="header__svg">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="#home">Home</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#about">About</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#service">Service</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#menu">Menu</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#contact">Contact</a>
            </li>
        </ul>
        <button type="submit" class="header__button" data-open-header-form>Order Now</button>
        <button type="button" class="header__button-modal" data-open-header-mobile-menu>
            <svg class="header__open" height="28" width="28">
                <use href="./images/symbol-defs.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>