<section class="hero">
    <div class="container">
        <div class="hero-div">
            <div class="hero-div_description">
                <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
                <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <button type="button" class="hero-button">Order Now</button>
            </div>
            <div class="hero-div_img">
                <img src="./images/img/hero-section/hero-section-desktop.svg" alt="eat" class="hero-img">
            </div>
            <div class="hero-div_svg">
                <button type="button" class="button-left hero-button_svg">
                    <svg class="hero-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button type="button" class="button-right hero-button_svg">
                    <svg class="hero-icon">
                        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>