<section class="offerings">
    <div class="container">
        <div class="offerings-div">
            <div class="offerings-subdiv"></div>
                <img src="#" alt="apple" class="offerings-img">
            </div>
            <div class="offerings-subdiv2">
                <h2 class="offerings-title"></h2>What’s Special About Our Offerings</h2>
                <p class="offerings-text"></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <ul class="offerings-list"></ul>
                    <li class="offerings-item"></li>
                        <h3 class="offerings_subtitle">Fasest Delivery</h3>
                        <p class="offerings__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                    <li class="offerings-item">
                        <h3 class="offerings_subtitle">Easy To Order</h3>
                        <p class="offerings__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                </ul>
                <button type="button" class="offerings">Order Now</button>
            </div>
        </div>
    </div>
</section>