<div class="modal-overlay is-hidden-modal" data-backdrop-modal>
    <form class="modal">
        <h2 class="form-title">Order Form</h2>
        <button type="button" class="modal-close_button" data-close-modal>
            <svg class="modal-close_icon" width="10.76" height="10.76">
                <use href="./images/symbol-defs.svg#close-button"></use>
            </svg>
        </button>
        <ul class="modal-list">
            <li class="modal-item">
                <p class="modal-text">Name</p>
                <input type="text"  class="modal-input" placeholder="Your name" required >
            </li>
            <li class="modal-item">
                <p class="modal-text">Phone number</p>
                <input type="tel" class="modal-input" placeholder="+38(0_ _) _ _ _   _ _   _ _" required >
            </li>
            <li class="modal-item">
                <p class="modal-text">E-mail</p>
                <input type="email" class="modal-input" placeholder="example@gmail.com" required >
            </li>
        </ul>
        <button type="submit" class="modal-button" >Send</button>
    </form>
</div>