<section class="offerings">
    <div class="container">
        <div class="offerings-div">
            <div class="offerings-subdiv">
                <img src="./images/img/offerings-section/apple.png" alt="apple" class="offerings-img">
            </div>
            <div class="offerings-subdiv2">
                <h2 class="offerings-title">What’s Special About Our Offerings</h2>
                <p class="offerings-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <ul class="offerings-list">
                    <li class="offerings-item">
                        <div class="offerings-div_svg">
                            <svg class="offerings_icon" width="26.92" height="26.68">
                                <use href="./images/symbol-defs.svg#icon-rocket"></use>
                            </svg>
                        </div>
                        <h3 class="offerings_subtitle">Fasest Delivery</h3>
                        <p class="offerings_subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                    <li class="offerings-item">
                        <div class="offerings-div_svg">
                            <svg class="offerings_icon" width="26.92" height="26.68">
                                <use href="./images/symbol-defs.svg#icon-touch"></use>
                            </svg>
                        </div>
                        <h3 class="offerings_subtitle">Easy To Order</h3>
                        <p class="offerings_subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                </ul>
                <button type="button" class="offerings-button">Order Now</button>
            </div>
        </div>
    </div>
</section>